* {
  margin: 0;
  padding: 0;
  color: white;
}

/* #353941
  #26282B
  #5F85DB
  #90B8F8
  
  #001F3F
  #083358
  #0D63A5
  #FFD717 */

.body-container {
  background-color: #353941;
  background-image: url("./components/MainContainer/images/pattern.jpg");
  background-repeat: repeat;
  width: 100%;
}

html {
  background-image: url("./components/MainContainer/images/pattern.jpg");
  background-repeat: repeat;
}

.navbar-container {
  height: 80px;
  background-color: #26282b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.app-name {
  font-weight: 800;
  font-size: 1.25rem;
  margin-left: 30px;
  background-color: #26282b;
}

.name-element {
  color: #ffffff;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 25px;
}

.navbar-elements {
  font-weight: 800;
  font-size: 1.25rem;
  color: #ffd717;
  margin-left: 30px;
  background-color: #26282b;
}

.navbar-elements:hover {
  cursor: pointer;
  color: white;
  border-bottom: 2px solid white;
}

.navbar-elements:active {
  color: darkgrey;
}

.home-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home-search {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 30px 0px 15px 0px;
  width: 300px;
}

.movie-form {
  margin: 15px;
  display: flex;
  flex-direction: column;
}

.movie-form-container {
  display: flex;
  margin-top: 20px;
}

.search {
  background-color: #363942;
  border: 1px solid grey;
  border-radius: 5px;
  height: 20px;
  width: 100%;
  padding: 5px 23px 5px 30px;
  outline: 0;
  transition-duration: 0.35s;
  font-size: 1rem;
}

.search:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
  transform: scale(1.15);
  transition-duration: 0.35s;
}

.addmovie {
  margin: 8px 0;
  max-width: 150px;
}

.add-movie-btn {
  background-color: #363942;
  border: 1px solid grey;
  border-radius: 5px;
  height: 20px;
  width: 100%;
  padding: 5px 23px 5px 30px;
  outline: 0;
  margin: 15px;
  transition-duration: 0.35s;
  font-size: 1rem;
}

.text-center {
  text-align: center;
}

.review-input {
  background-color: #363942;
  border: 1px solid grey;
  border-radius: 5px;
  width: 100%;
  padding: 5px 23px 5px 30px;
  outline: 0;
  margin-bottom: 15px;
  transition-duration: 0.35s;
}

.review-input:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
  transform: scale(1.15);
  transition-duration: 0.35s;
}

.hover-show {
  margin-top: 10px;
}

.home-movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
}

.main {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-review-container {
  display: flex;
}

.movie-review-header {
  font-size: 3rem;
  padding-bottom: 25px;
  text-align: center;
}

.movie-header {
  text-align: center;
}

.movie-genre {
  color: #ffd717;
  font-size: 2rem;
  margin: 10px 0;
  margin: 60px 0 0 10px;
  transition: all 0.2s ease-in-out;
}

.movie-genre:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.comment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  padding: 25px 75px 0px 0px;
  max-width: 300px;
  max-height: 400px;
  position: sticky;
  top: 0;
  margin: 0 15px 0 0;
}

.comment-element {
  margin: 20px;
}

.btn-style {
  display: inline-block;
  padding: 0.46em 1.6em;
  border: 0.1em solid #000000;
  border-radius: 15px;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #000000;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  background-color: #ffffff;
  text-align: center;
  transition: all 0.15s;
  background-color: #ffd717;
  height: 30px;
  width: 200px;
  margin: 15px;
}
.btn-style:hover {
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: #ffffff;
  border-color: #ffffff;
  cursor: pointer;
}

.movie-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  max-width: 1000px;
}

.review-feed-container {
  display: flex;
  justify-content: center;
}

.review-img {
  border-radius: 15px;
  margin: 20px;
  width: 100%;
}

.review-img-container {
  max-width: 150px;
}

.profile {
  width: 50px;
  margin-right: 50px;
}

.card-container {
  width: 700px;
}

.movie-card {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  border-radius: 15px;
  min-height: 150px;
  max-width: 800px;
}

.review-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  text-align: center;
  background-color: rgba(53, 57, 65, 0.6);
  border: 1px solid black;
  border-radius: 25px;
  width: 400px;
  padding: 25px;
}

.review-info-element {
  margin: 5px;
}

.search-form {
  max-height: 30px;
}

li {
  list-style-type: none;
}

.genre-element {
  margin: 15px;
  font-weight: 800;
  font-size: 1.25rem;
  color: #ffd717;
  padding: 0 35px;
}

.genre-element:hover {
  color: white;
  cursor: pointer;
}

.genre-element:active {
  color: lightgray;
}

.albumsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  flex-basis: 100%;
  width: 850px;
}

.album-card {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 25%;
  margin: 25px;
}

/* PROFILE PAGE */

.profile-container {
  display: flex;
}

.profile-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  padding: 25px;
}

.profile-details {
  margin: 10px;
  max-width: 210px;
}

.profile-picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.movie-header {
  font-size: 1.75rem;
}

.profile-element {
  font-size: 1.15rem;
  margin-bottom: 5px;
}

.profile-pic-container {
  width: 50px;
}

.pro-pic2 {
  border-radius: 100px;
  width: 50px;
}

.pro-pic {
  margin: 25px;
  border-radius: 130px;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
}

.favorites-container {
  margin-top: 25px;
  width: 75%;
  height: 200px;
}

.comments-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* COMMENTS */

.comment-tophalf {
  display: flex;
  margin-bottom: 15px;
}

.profile-comment {
  display: flex;
  flex-direction: column;
}

.comment-icons {
  display: flex;
  justify-content: space-around;
}

.comment-card {
  display: flex;
  flex-direction: column;
  background-color: rgba(53, 57, 65, 0.6);
  border-radius: 15px;
  border: 1px solid black;
  margin: 30px 15px;
  padding: 15px;
  width: 60%;
  min-width: 250px;
  max-width: 400px;
}

.comment-username {
  padding: 2px;
  font-size: 1rem;
}

.comment-content {
  font-style: italic;
  padding: 2px;
  margin: 10px 0;
}

.comment-delete {
  margin-left: auto;
  margin-right: 0;
}

.emoji:hover {
  transform: scale(1.15);
  transition-duration: 0.35s;
  cursor: pointer;
}

.emoji:active {
  transform: scale(0.85);
  transition-duration: 0.35s;
}

.swiper {
  width: 600px;
  height: 300px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.image {
  position: relative;
  width: 220px;
  margin: 25px;
}

.image__img {
  display: block;
  width: 100%;
  border-radius: 25px;
}

.image__title {
  margin: 5px;
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0;
  transition-duration: 0.5s;
  border-radius: 25px;
  text-align: center;
}

.image__overlay:hover {
  cursor: pointer;
  opacity: 1;
}

.image__overlay > * {
  transform: translateY(20px);
  transition-duration: 0.5s;
}

.image__overlay:hover > * {
  cursor: pointer;
  transform: translateY(0);
  transition-duration: 0.5s;
}

.image__overlay--blur {
  backdrop-filter: blur(5px);
}

.img-home {
  position: relative;
  border-radius: 15px;
  margin: 25px;
  transition: all 0.3s ease-in-out;
  width: 180px;
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.title-search {
  margin: 0 0 0 45px;
  max-width: 180px;
}

.genres-search-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: flex-end;
}

.genres-container {
  overflow: scroll;
  height: 800px;
}

@media only screen and (max-width: 850px) {
  .navbar-container {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .app-name {
    text-align: center;
    margin: 10px 0;
    padding: 0;
    width: 100%;
  }

  .navbar {
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }

  .navbar-elements {
    text-align: center;
    margin: 10px;
    padding: 0;
  }

  .movie-form-container {
    display: flex;
    flex-direction: column;
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .movie-container {
    order: 1;
  }

  .review-feed-container {
    flex-direction: column;
    align-items: center;
  }

  .genres-search-container {
    order: 2;
  }
  .comment-container {
    order: 3;
  }

  .title-search {
    margin: 0;
  }
  .search {
    padding: 8px 10px;
  }

  .movie-card {
    flex-direction: column;
    align-items: center;
  }

  .review-img {
    margin: 0;
  }

  .genres-search-container {
    align-items: center;
  }

  .profile-container {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .profile-about {
    min-width: 300px;
  }
  .profile-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .comments-container {
    align-items: center;
    justify-content: center;
  }
  .card-container {
    width: auto;
  }

  .genres-container {
    overflow: scroll;
    height: 300px;
  }
}
